<div class="menu_section">
                <h3>Utilidades</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-bars"></i>Telefones<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/intra/view/php/page/page_table_ramais.php">Ramais</a></li>
                      <li><a href="/intra/view/php/page/page_table_celulares.php">Celulares</a></li>    
                    </ul>
                  </li>
                </ul>
</div>

