<div class="menu_section">
                <h3>Qualidade</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-bars"></i>Listas Mestras<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/intra/view/php/page/page_table_lista_mestra_documento.php">Lista Mestra de Documentos</a></li>
                      <li><a href="#">Lista Mestra de Registros</a></li>    
                    </ul>
                  </li>
                </ul>
</div>

