<div class="menu_section">
                <h3>Ambiental</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-envira"></i>Licenças <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/intra/view/php/page/page_table_licenca_am.php">Base Americana</a></li>
                      <li><a href="/intra/view/php/page/page_table_licenca_sbc.php">Base SBC</a></li>
                    </ul>
                  </li>
                </ul>
</div>